<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        <context:property-placeholder location="classpath:app.properties"/>

    <bean id="cpu" class="org.example.secondLab.components.CentralProcessingUnit">
        <property name="frequencyGHz" value="${cpuFrequency}"/>
    </bean>

    <bean id="hardDrive" class="org.example.secondLab.components.HardDrive">
        <constructor-arg value="500"/>
    </bean>

    <bean id="videoCard" class="org.example.secondLab.components.VideoCard">
        <constructor-arg value="NVIDIA GeForce GTX 1060"/>
    </bean>

    <bean id="computer" class="org.example.secondLab.Computer">
        <constructor-arg ref="videoCard"/>
        <constructor-arg ref="cpu"/>
        <constructor-arg ref="hardDrive"/>
    </bean>
</beans>